<h1>aazis</h1>
<h2>Track non-monetary transactions between friends, families and everyone else</h2>

<table>
  <tr>
    <th>Description</th>
    <th>Location</th>
    <th>Units</th>
    <th>User</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%=h post.description %></td>
    <td><%=h post.location %></td>
    <td><%=h post.units %></td>
    <td><%=h post.user.name %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


